.slide {
  background-image: url('img/hero.jpg')
}
.caption h3 {
  style: bold;
}

.indicators .indicator-item {
display: none;
}
.material-icons {
  color: #ec407a;
  }

.icon-text{
  color:#ec407a;
}

#fine-dining{
  margin-top: 75px;
}


#submitButton {
  margin: auto;
}
